* {
    box-sizing: border-box;
}


body {
    margin: 0;
    padding: 0;
}

/* Estilos para el header */
.encabezado{
    display: flex;
    position: sticky;
    flex-direction: column;
    flex-wrap: wrap;
    background:linear-gradient(70deg, rgb(8, 2, 90)  40%,rgba(20, 1, 31, 0.945)  90%);
    border-bottom: solid 0.2em #3f788fda;
}

.ul-encabezado {
    display: none; /* Oculta por defecto */
}

.li-encabezado {
    display: none;    
}


.titulo{
    margin: 0 0 1% 0;
    padding: 0;
}
.nombre{
    display: flex;
    align-self: center;
    justify-content: center;
    font-size: 1em;
    font-family: 'Cinzel Decorative', cursive;
    margin: 1% 0 0.5% 0;
    padding: 0;
    color: rgb(201, 201, 209);
}

.eslogan{
    display: flex;
    align-self: center;
    justify-content: center;
    font-size: 0.46em;
    margin: 0;
    padding: 0;
    color: rgb(201, 201, 209);
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.navs{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}

.padre-a{
    margin-right: 4.3em;
    padding: 0;
    align-items: center;
    max-width: 100%;
}

.a{  
    margin: 0em 0.3em 0em 0.3em;
    text-decoration: none;
    border-radius: 1em;
    text-align: center;
    color: #ece7e7d2;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    padding-top: 0.40em;
    margin: 0 2.0em 0 2.0em;
    transition: 0.3s ease-in;
}

.a:hover {
    color: #ffffff; 
    transform: scale(1.07); 
}



.buscar {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.buscador {
    width: 70%; /* Ajusta el tamaño según prefieras */
    max-width: 200px;
    height: 100%;
    max-height: 2em;
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 30px;
    background: linear-gradient(90deg, rgba(7, 120, 185, 0.822) 25%, rgba(0, 0, 112, 0.5) 75%);
    border: solid #3f788f;
}

.buscador::placeholder{
    color: #fff;
}

#categorias {
    display: none;
}

#categorias ul {
    display: none;
}



.hidden {
    visibility: hidden;
    height: 0;
    margin: 0;
    padding: 0;
}

#mensaje-sin-resultados {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    margin: 7em 1em 0 0;
    background-color: #000;
    border: solid #000;
    border-radius: 10%;
    color: rgb(247, 241, 241);
    text-align: center;
    align-items: center;
}
.hidden {
    display: none;
}

.button{
    margin: 10px;
    border-radius: 14px;
    border: none;
    font-weight: 590px;
    max-height: 27px;
    overflow: hidden;
    max-width: 27px;
    cursor: pointer;
    width: 120px;
    height: 120px;
    align-items: center;
}

.img_buscador{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    height: 100%;
    object-fit: contain;
    border: none;
}

/* Estilos para el main */

main{
    display: flex;
    flex-direction: row-reverse;
}

.contenedor-peliculas {
    display: flex;
    transition: transform 0.3s ease;
    width: 100%;
    margin: 0 40px; 
}

.desplazar-izquierda, .desplazar-derecha {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    font-size: 24px;
    cursor: pointer;
    padding: 10px;
    z-index: 10;
}

.desplazar-izquierda {
    left: 10px; /* Posiciona a la izquierda del contenedor */
}

.desplazar-derecha {
    right: 10px; /* Posiciona a la derecha del contenedor */
}

.padre-imagen {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 10em !important; 
    height: 18em; 
    margin: 2em; 
    padding: 0em 1em 1em 1em;
    background-color: #fff;
    border: solid #3f788f;
    border-radius: 3%;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15), 
                0px -8px 16px rgba(0, 0, 0, 0.15),
                8px 0px 16px rgba(0, 0, 0, 0.15), 
                -8px 0px 16px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease; /* Para transiciones suaves */
}

.titulo-categoria {
    font-size: 24px;
    Font-family: Copperplate, Copperplate Gothic Light, fantasy;
    font-weight: bold;
    background:linear-gradient(70deg, rgb(8, 2, 90)  40%,rgba(20, 1, 31, 0.945)  90%);
    margin: 20px 0 10px;
    color: #ece7e7d2;
    width: 70%;
    text-align: center;
    border-top: solid 4px linear-gradient(45deg, #6f5fff, #190b94);;
    border-bottom: solid 4px linear-gradient(45deg, #6f5fff, #190b94);;
    box-shadow: 0 0 13px #706a6a; 
    border-radius: 10px; 
    padding-right: 40px;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-right: 5em;
}

.movie-row {
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
    width: 100%;
}

img{
    display: flex;
    align-self: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 0;
    border-radius: 2%;
    margin: 1em 0em 0em 0em;
    border: solid 3px #000;
    transition: 0.6s ease;
    cursor: pointer;
}

.imagen:hover{
    width: 132%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.titulo_peli{
    display: flex;
    align-self: center;
    justify-content: center;
    margin-bottom: 0;
    font-family: 'Lora', serif;
    font-size: 15px;
}

.estrellita{
    width: 0.8em;
    height: 0.8em;
    border: none;
    background: linear-gradient(90deg, rgba(7, 120, 185, 0.822) 25%, rgba(0, 0, 112, 0.5) 75%); 
    margin-left: 0.2em;
    margin-top: 0;
}

.estrellita_puntaje{
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    border: none;
    width: 8em;
    height: 1.60em;
}

article{
    display: flex;
    flex-wrap: wrap;
    background:linear-gradient(70deg, rgb(8, 2, 90)  40%,rgba(20, 1, 31, 0.945)  90%);
    justify-content: center;
}

aside {
    padding: 20px; /* Ajusta el padding si necesitas algo de espacio, pero no uses porcentaje */
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Asegura que los botones estén al comienzo del aside */
    align-items: center; /* Centra los botones horizontalmente */
    background-image: linear-gradient(rgba(0, 0, 112, 0.5), rgba(0, 0, 94, 0.5)), 
    url("https://img.freepik.com/foto-gratis/collage-fondo-pelicula_23-2149876004.jpg?t=st=1725069154~exp=1725069754~hmac=73decf940ae75fc8d4cdd3ce30e009629506623b2259be9691146c80805f5813");
    border-right: solid #3f788f;
    text-align: center;
    color: rgb(201, 201, 209);
    font-family: 'Arial', sans-serif;
}


.container {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.ul-peliculas, .ul-series, .ul-animes, .ul-documentales, .ul-novelas {
    display: none;
}

ul {
    list-style-type: none;
    margin: 2em 0 0 0;
    padding: 0;
}

.registrarse, .Inicio {
    width: 100%;
    background: none;
    border: none;
    border-radius: 0.3em;
    padding: 10px; 
    font-size: 18px;
    font-weight: bold;
    background-color: #25449b9c;
    color: rgb(203, 204, 255);
    cursor: pointer;
    transition: color 0.3s ease, transform 0.2s ease, background-color 0.3s ease;
    text-decoration: none;
    margin-bottom: 10px;
}

.registrarse:hover, .Inicio:hover {
    color: #ffffff;
    transform: scale(1.05);
    background-color: #358dff;
}

.registrarse:active, .Inicio:active {
    transform: scale(0.98);
}

.button-aside, .titulo-aside {
    background: none;
    border: none;
    margin: 0.5em 0;
    color: rgb(201, 201, 209);
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    width: 100%;
}

.button-aside {
    background-color: #190b94;
    border-radius: 0.7em;
    padding: 10px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.button-aside:hover {
    background-color: #3341ff;
    transform: translateY(-2px);
}

.titulo-aside {
    background-color: #6da6fc;
    color: #000;
    border-radius: 8px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.2s ease;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.titulo-aside:hover {
    background-color: #190b94;
    color: #ffffffd2;
    transform: translateY(-2px);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
}

.titulo-aside:active {
    transform: translateY(1px);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

ul ul {
    display: none;
    padding-left: 20px;
}


ul > li > button {
    font-size: 14px;
    padding: 0.5em 1em;
    background: none;
    border: none;
    font-weight: bold;
    color: rgb(0, 0, 0);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

ul > li > button:hover {
    background-color: #190b94;
    color: #ece7e7d2;
}

/* Estilos para el footer */

footer{
    background:linear-gradient(70deg, rgb(8, 2, 90)  40%,rgba(20, 1, 31, 0.945)  90%);
    border-top: solid 0.2em #3f788fda;
    color: rgb(201, 201, 209);
}


@media(max-width: 1258px){
    *{
        margin: 0;
        padding: 0;
    }
    body{
        margin: 0;
        padding: 0;
    }

    .encabezado{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        background:linear-gradient(70deg, rgb(8, 2, 90)  40%,rgba(20, 1, 31, 0.945)  90%);
        border-bottom: solid 0.2em #3f788fda;
        height: 144px;
        padding: 0;
        position: relative;
    }
    
    .titulo{
        margin: 0 0 1% 0;
        padding: 0;
    }
    
    .nombre{
        display: flex;
        align-self: center;
        justify-content: center;
        font-size: 1em;
        font-family: 'Cinzel Decorative', cursive;
        margin: 1% 0 0.5% 0;
        padding: 0;
        color: rgb(201, 201, 209);
    }
    
    .eslogan{
        display: flex;
        align-self: center;
        justify-content: center;
        font-size: 0.46em;
        margin: 0 0 0.85em 0;
        padding: 0;
        color: rgb(201, 201, 209);
        font-family: 'Montserrat', sans-serif;
    }
    .padre-a{
        display: none;
    }
    .navs{
        display: flex;
        justify-content: start;
        margin-left: -100%;
        height: 100%;
    }
    .buscar {
        position: absolute;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
        margin: 0;
        padding: 0;
        height: 2em; 
        width: clamp(90px, 15%, 250px); 
        top: clamp(0px, 100px, calc(100vh - 2em)); 
        left: clamp(0px, 920px, calc(93vw - 15%));
        border: none;
        background-color: #00aeff00;
    }
    

    .buscador{
        position: relative;
        width: 100%;
        max-width: 200px;
        height: 100%;
        max-height: 2em;
        padding: 5px 10px;
        font-size: 14px;  
        border-radius: 30px;
        background: linear-gradient(90deg, rgba(7, 120, 185, 0.822) 25%, rgba(0, 0, 112, 0.5) 75%); 
        border: solid #3f788f;
        margin-right: 1em;
    }

    .button{
        position: relative;
        margin: 0.175em 0.9em 0.5em 0;
        border-radius: 14px;
        border: none;
        font-weight: 590;
        max-height: 27px;
        overflow: hidden;
        max-width: 27px;
        cursor: pointer;
    }

    #mensaje-sin-resultados{
        width: 3em;
        height: 3em;
    }

    .contenedor-div{
        margin-top:  111px;
        margin-right: 40em;
    }

    #categorias{
        background: none;
        border: none;
        padding: 0;
        margin: 0;
        outline: none;
        box-shadow: none;
        color: inherit;
        font: inherit;
        cursor: pointer;
        display:inline;
        color: rgb(201, 201, 209);
        height: 33px;
        font-family: 'Oswald', sans-serif;
        font-weight: 700;
        margin: 0;
        transition: all 0.3s ease-in;
    }

    #categorias:hover {
        color: #ffffff;
    }

    .ul-encabezado.show {
        display: flex; 
        flex-direction: column !important; 
        position: absolute; 
        background:linear-gradient(70deg, rgba(8, 2, 90, 0)  40%,rgba(1, 0, 2, 0.562)  90%);
        font-family: 'Oswald', sans-serif;
        font-weight: 700;
        color: white; 
        padding: 0;
        margin: 1.6px 0 0 0;
        z-index: 2000; 
        width: 5.3em;
        height: 10em;
    }

    .li-encabezado{
        display: flex;
        flex-direction: column;
        position: relative;
        justify-content: center;
        align-items: center;
        height: 1em;
        width: 100%;
        color: #fff;
        height: 33px;
        font-family: 'Oswald', sans-serif;
        font-weight: 700;
        font-size: 14px;
        text-decoration:  none;
        z-index: 2000;
    }

    .li-encabezado:hover {
        background-color: rgba(255, 255, 255, 0.1); 
    }
    
    .a{  
        display: none;
        text-decoration: none;
        
    }

    .registrarse{
        display: none;
    }

    .ul-peliculas{
        display: none;
        justify-content: center;
    }
    
    .ul-series{
        display: none;
        justify-content: center;
    }

    .ul-animes{
        display: none;
        justify-content: center;
    }

    .ul-documentales{
        display: none;
        justify-content: center;
    }

    .ul-novelas{
        display: none;
        justify-content: center;
    }

    ul li .titulo-aside-documentales { 
        padding-left: 0.5em;
        padding-right: 0.5em;
        margin-top: 0 !important; 
    }


    ul li .titulo-aside-animes { 
        margin-top: 0 !important; 
    }


    ul li .titulo-aside-series { 
        margin-top: 0 !important; 
    }

    ul li .titulo-aside-peliculas { 
        margin-top: 0 !important; 
    }

    ul li .titulo-aside-novelas { 
        margin-top: 0 !important; 
    }

    .titulo-categoria{
        margin-left: 145px;
    }

    .category-title {
        font-size: 24px;
        Font-family: Copperplate, Copperplate Gothic Light, fantasy;
        font-weight: bold;
        background:linear-gradient(70deg, rgb(8, 2, 90)  40%,rgba(20, 1, 31, 0.945)  90%);
        margin: 20px 0 10px;
        color: #ece7e7d2;
        width: 100%;
        text-align: center;
        border-top: solid 4px linear-gradient(45deg, #6f5fff, #190b94);;
        border-bottom: solid 4px linear-gradient(45deg, #6f5fff, #190b94);;
        box-shadow: 0 0 13px #706a6a; 
        border-radius: 10px; 
        padding-right: 15px;
        margin-top: 2em;
    }

    .img_buscador{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        object-fit: contain;
        border: none;
    }

    main{
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
    }

    div{
        display: flex;
        align-self: center;
        justify-content: center;
        flex-direction: column;
        width: 10.6em;
        margin: 2em 3em 2em 3em;
        padding:0;
        background-color: #fff;
        border: solid #3f788f;
        border-radius: 3%;
    }
    
    img{
        display: flex;
        align-self: center;
        justify-content: center;
        width: 8em;
        height: 12em;
        padding: 0;
        border-radius: 2%;
        margin: 1em 0em 0em 0em;
        border: solid 3px #000;
        transition: 0.6s ease;
        cursor: pointer;
    }
    .imagen:hover{
        width: 125%;
        height: 100%;
        padding: 0;
        margin: 0;
    }
    .titulo_peli{
        display: flex;
        align-self: center;
        justify-content: center;
        margin-bottom: 0;
        font-family: 'Lora', serif;
        font-size: 15px;
    }
    .estrellita{
        width: 0.8em;
        height: 0.8em;
        border: none;
        background: linear-gradient(90deg, rgba(7, 120, 185, 0.822) 25%, rgba(0, 0, 112, 0.5) 75%); 
        margin-left: 0.2em;
        margin-top: 0;
    }
    
    .estrellita_puntaje{
        display: flex;
        flex-direction: row;
        margin: 0;
        padding: 0;
        border: none;
        width: 8em;
        height: 1.60em;
    }
    article{
        display: flex;
        flex-wrap: wrap;
        background:linear-gradient(70deg, rgb(8, 2, 90)  40%,rgba(20, 1, 31, 0.945)  90%);
        justify-content: center;
        width: 100% !important; 
        max-width: 100% !important;
        padding: 0;
    }
    
    aside{
        display: flex;
        margin: 0;
        background-image: linear-gradient(rgba(0, 0, 112, 0.5), rgba(0, 0, 94, 0.5)), 
        url("https://images.pagina12.com.ar/styles/focal_3_2_960x640/public/2023-09/772001-734326-salacine_0.jpg?h=b3660f0d&itok=zvESMj2d");
        background-position: center;
        background-size: cover;
        width: 100% !important;
        max-width: 100% !important;
        padding: 0;
        border-top: solid #3f788f 3px;
    }
    
    ul{
        display: flex;
        flex-direction: row !important;
        align-self: center;
        justify-content: center;
        list-style-type: none;
        padding: 0;
        display: flex;
        height: 12.5em;
    }

    .titulo-aside, .Inicio{
        display: flex;
        background: none;
        border: none;
        padding: 0;
        color: rgb(255, 255, 255) !important;
    }
    
    .button-aside{
        display: none;
    }
    .button-aside:hover{
        color: #000000;
    }
    
    .titulo-aside{
        display: flex;
        font-size: 16px;
        font-weight: 550;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        align-items: center;
        justify-content: center;
        margin: 1.3em;
    }
     
    .Inicio{
        display: none;
    }

    footer{
        display: block;
        background:linear-gradient(70deg, rgb(8, 2, 90)  40%,rgba(20, 1, 31, 0.945)  90%);
        border-top: solid 0.2em #3f788fda;
        color: rgb(201, 201, 209);
    }
    
}

@media (max-width: 873px) {
    .button{
        display: none;
    }
}

@media (max-width: 768px) {
    article {
        grid-row: 1; /* El contenido principal primero */
    }

    aside {
        grid-row: 2; /* Aside abajo */
    }
}


@media (max-width: 600px) {
    
    .button-aside, .titulo-aside {
        font-size: 14px; /* Reduce el tamaño del texto en pantallas pequeñas */
    }
}

@media (max-width: 400px) {
    .button-aside, .titulo-aside {
        font-size: 12px; /* Reduce aún más el tamaño para pantallas muy pequeñas */
    }
}

